<div id="formations-container">
    {% if formations is empty %}
        <div class="box">
            <p>Aucune formation disponible pour le moment.</p>
        </div>
    {% else %}
        <div class="cards">
            <div class="cards__grid">
                {% for formation in formations %}
                    <div class="card">
                        <h3>{{ formation.title }}</h3>
                        <p>
                            {{ formation.description|length > 100
                                ? formation.description|slice(0, 100) ~ '…'
                                : formation.description }}
                        </p>
                        <div class="card__footer">
                            <span class="pill">{{ formation.category }}</span>
                            <span>
                                {{ formation.startDate ? formation.startDate|date('d/m/Y') : '' }}
                                -
                                {{ formation.endDate ? formation.endDate|date('d/m/Y') : '' }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>