{% extends 'base.html.twig' %}

{% block title %}Edit Consultation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/consultation/form.css') }}">
{% endblock %}

{% block body %}
<div class="portal__content portal__card">

    <header class="portal__header">
        <h1 class="portal__title">Edit Consultation</h1>
        <p class="portal__subtitle">Update the consultation details.</p>
    </header>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form__fields">
            {{ form_widget(form) }}
        </div>

        <div class="form__actions">
            <a href="{{ path('consultation_index') }}" class="btn btn--ghost">Cancel</a>
            <button type="submit" class="btn btn--primary">Update Consultation</button>
        </div>

    {{ form_end(form) }}

</div>
{% endblock %}